p{
    color: white;
}
p::first-letter {
    font-size: 24px;
}
strong{
    color: yellowgreen;
}
ul{
    color: white;
}
ol{
    color: white;
}
a{
    color: orangered;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

h1, h2{
    color: aqua;
}

body{
	font-family: Roboto, sans-serif;
    background-color: darkslategray;
    margin: 0 auto;
    max-width: 50em;
}