p{
    font-family: sans-serif;
    color: white;
}
p::first-letter {
    font-size: 24px;
}
strong{
    color: yellowgreen;
}
ul{
    color: white;
}
ol{
    color: white;
}
a{
    color: orangered;
}

h1, h2{
    font-family: Arial, sans-serif;
    color: aqua;
}

body{
    background-color: darkslategray;
    margin: 0 auto;
    max-width: 50em;
}